<h1>Show Invoice</h1>

<ul>

  <li>
    <strong>Net days:</strong>
    <%= @invoice.net_days %>
  </li>

  <li>
    <strong>Note:</strong>
    <%= @invoice.note %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.invoice_path(@conn, :edit, @invoice) %></span>
<span><%= link "Back", to: Routes.invoice_path(@conn, :index) %></span>
